*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  background: linear-gradient(rgb(78, 229, 232), rgb(176, 124, 185));
  position: relative;    

}

body::after{
  position: absolute;
  top: 25%;
  left: -20%;
  content: '';
  border-radius: 100%;
  background-color: rgb(53, 165, 171);
  width: 150px;
  height: 150px;
  display: block;
  z-index: 1;
}
@media screen and (min-width: 768px){
  body::after{
    top: 30%;
    left: 37%;
  }
}